/* Estilos Globales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;

}

/* Estilos para Header */
header {
  background-color: #fff;
  color: #333;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  text-align: center;
}

h1 {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0;
  text-transform: uppercase;
  color: #3498db;
}

/* Estilos para AddTask */
.add-task {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.add-task input {
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-right: 10px;
  width: 70%;
}

.add-task button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.add-task button:hover {
  background-color: #2980b9;
}

/* Estilos para TaskFilter */
.task-filter {
  width: 100%;
  max-width: 400px;
  margin: 0 auto 20px;
}

.task-filter input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.task-filter input::placeholder {
  color: #aaa;
}

/* Estilos para TaskItem */
li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 15px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  margin: 8px 0;
}

input[type="checkbox"] {
  margin-right: 15px;
  transform: scale(1.2);
}

span {
  font-size: 18px;
  color: #333;
  flex-grow: 1;
}

span[style*="line-through"] {
  color: #b2bec3;
  text-decoration: line-through;
}

/* Estilos para TaskList */
.task-list {
  list-style: none;
  padding: 0;
}

.task-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  border-radius: 4px;
}

.task-list input[type="checkbox"] {
  margin-right: 10px;
}

.task-list span {
  flex-grow: 1;
}
